@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
body{
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box;
}
/*Main - Body*/
.body{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 72px 57px;
    align-items: center;
    flex-direction: column;
}
.logo img{
    width: 130px;
    height: 92px;
}
.registration,
.loading{
    display: none;
    flex-direction: column;
    align-items: center;
}
/*Main - Body -> Registrarion*/
.username{/*Input*/
    margin-top: 94px;
    width: 261px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #AEAEAE;
}
.login-btn{
    margin-top: 15px;
    width: 109px;
    height: 45px;
    background: #E7E7E7;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-btn span{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #696969;
}
/*Main - Body -> Loading*/
.loading-gif{
    margin-top: 90%;
    width: 120px;
    height: 110px;
}
.loading span{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
}
/*Header - TopBar*/
.top-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}
/*Header - TopBar -> Container*/
.top-bar-container{
    width: 100%;
    padding: 0 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile{
    width: 45px;
    height: 45px;
}
/*Aside - SideBar*/
.side-bar{
    width: 100%;
    left: 100%;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.6);  
    z-index: 1;
}
/*Aside - SideBar(Icones)*/
.iconPerson{
    width: 25px;
    height: 25px;
    color: #000000;
}
.iconLock{
    width: 22px;
    height: 22px;
    color: #000000;
}
.checkmark{
    width: 21px;
    height: 14px;
    color: #28bb25;
    margin-right: 7px;
    opacity: 0;
}
.selected{
    opacity: 1;
}
/*Aside - SideBar -> Container*/
.side-bar-container{
    width: 259px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: #FFFFFF;
    overflow-y: scroll;
}
.side-bar h1{
    padding: 25px 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}
.side-bar p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 164px;
    
}
/*Aside - SideBar -> Container -> Participants*/
.contact{
    padding: 6px 0;
    margin: 0 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-container{
    display: flex;
    align-items: center;
}
.contact-name{
    margin-left: 6px;
}
/*Aside - SideBar -> Container -> Visibility*/
.visibility{
    padding-bottom: 25px;
}
.type-of-visibility{
    padding: 6px 0;
    margin: 0 18px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.type-of-visibility-container{
    display: flex;
    align-items: center;
}
.msg-visibility > div:last-child{
    margin-bottom: 25px;
}
.type-of-visibility p{
    margin-top: 6px;
    margin-left: 7px;
}
/*Main - Chat*/
.chat-body{
    padding:  80px 0;
    overflow: hidden;
}
.chat > li:first-child{
    margin-top: 26px;
}
.chat > li:last-child{
    margin-bottom: 26px;
}
.msg-text{
    margin-top: 4px;
    width: 100%;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.status{
    background: #DCDCDC;
}
.message{
    background: #FFFFFF;
}
.private_message{
    background: #FFDEDE;
}
.msg-text{
    display: flex;
    padding: 10px 9px 10px 8px;
    width: 100%;
}
.msg-text p{
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    word-wrap: break-word;
    color: black;
}
strong{
    font-weight: bold;
}
time{
    color: #AAAAAA;
}
/*Footer - BottomBar*/
.bottom-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    
}
/*Footer - BottomBar -> Container*/
.bottom-bar-container{
    width: 100%;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-texts{    
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    width: 100%;
    margin-right: 10px;
}
.text{
    font-style: italic;
    height: 30px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    border: none;
}

.text::placeholder{
    color: #000000;
}
.btn-send-msg{
    width: 26px;
    height: 26px;
}
.active{
    display: flex;
}

